body {
    background: url(./images/got-bg-img.jpg);
    background-size: 100%;
}
.container {
    background:rgba(255,255,255,0.75);
    margin: 50px;
    padding: 47px;
}
.char-btn {
    margin: 0px 3px 3px 0px;
}
.sub-btn {
    margin-top: 3px;
}
.gif {
    margin: 0px 3px 3px 0px;
    border: 1px solid black;
}